body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.flag {
  width: 500px;
  height: 380px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.stripe {
  height: 33.33%;
  width: 100%;
}

.blue {
  background-color: #74ACDF; 
}

.white {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 90px;
  height: 90px;  
  
}
