

#a {
    background-color: red;
    margin: 20px;
    height: 300px;
    width: 300px;
}
#b {
    background-color: rgb(21, 255, 0);
    margin-top: 30px;
    height: 300px;
    width: 300px;
}
#c {
    background-color: rgb(55, 0, 255);
    margin: auto;
    height: 300px;
    width: 300px;
}

#d {
    height: 100px;
    width: 200px;
    background-color: brown;
    margin: 40px;
    
}
#e {
    height: 100px;
    width: 200px;
    background-color: rgb(139, 99, 99);
    margin: 20px 60px;
}
#f {
    height: 100px;
    width: 200px;
    background-color: rgb(156, 136, 136);
    margin: 10px 50px 30px;
}
#g {
    height: 100px;
    width: 200px;
    background-color: rgb(131, 129, 129);
    margin: 5px 20px 10px 40px;
}



#aa {
    height: 100px;
    width: 300px;
    background-color: rgb(68, 58, 204);
    margin: -30px;
}

#bb {
    height: 300px;
    width: 300px;
    background-color: rgb(68, 58, 204);
    margin: auto;
}


p {
    padding: 20px;
    margin: 10px;
}

