body {
    background-image:url(ernest-brillo-Qi8CvonsYnM-unsplash.jpg) ;
    color: white;
    text-align: center;
    font-size: 1.5em;
    
}


div {
    display: grid;
    grid-template-columns: repeat(5,1fr)
}
a {
    color: wheat;
    text-decoration: none;
    margin: 3em;
    padding: 20px;
    border: 3px solid purple;
    
}