h1 {
    text-align: center;

}

body{
    font-family: Thicker-black-Italic-TRIAL;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 25px;
    font-size: 28px;
    background-image:url(1024x613_How-to-explain-to-a-child-what-ecology-is.png.webp) ;
}

flex {
    display: flex;
    font-family: Thicker-black-Italic-TRIAL;
    flex-direction: row;
}


@font-face {
    font-family: Thicker-Black-Italic-TRIAL;
    src: url(Thicker-Light-Italic-TRIAL.ttf);
}

