header {
    background-color: #D1CCDC;
    width: 75vw;
    height: 25vh;
}
nav {
    background-color: #6883BA;
    height: 25vh;
}

main {
    background-color: #B0E298;
    height: 25vh;
}

footer{
    background-color:#E072A4  ;
    height: 25vh;
}

aside {
    background-color: #F4743B;
    height: 100vh;
    width: 25vw;
}

#flex {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
}