header,footer {
    background-color: #f54c4c;
    height: 10vh;
}


section {
    background-color: antiquewhite;
    border: 1px solid black;
     width: 50vw;
     
     height: 80vh ;
}

main {
    display: flex;
   
}

body {
    margin: 0;
}