#flex {
    display: flex;
    width: 100%; 
    
}

section{
    background-color:#e613b8;
    width: 100%;
    height: 80vh;
    border: 1px solid black;

}


header {
    background-color: #f52d2d;
    height: 10vh;
}

footer {
    background-color: darkcyan;
    height: 10vh;
}