
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    text-align: center;
    font-family:comfortaa ;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(donut.avif);
}

form {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    
    width: 420px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    
}

input {
    border-radius: 20px;
    padding: 8px;
}
input:focus{
    border: 1px solid #ff6b9d;
    outline: none;
}

select{
    padding: 8px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background: #ff6b9d;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff3f7f;
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px rgb(168, 154, 154);
}

#result {
    min-height: 24px; 
    margin-top: 20px;
    font-weight: bold;
}
