#red {
    width: 100%;
    height: 20vh;
    background-color: red;
}

#gray {
    width: 100%;
    height: 100%;
    background-color: gray;
}

#green {
    width: 25%;
    height: 85vh;
    background-color: green;
}

#cont {
    display: flex;
    width: 100%;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: rgb(146, 45, 19);
}

#main {
    display: flex;
    flex-direction: column;
    width: 75%;
}

body {
    margin: 0;
}
