@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poiret+One&display=swap');

body {
    background-color: #2E294E;
    color: #FF785A;
    font-size: 1.8em;
    font-family: Comfortaa;
}




h1 {
    text-align: center;
}
p {
    margin: 1em;
    padding: 1em;

}
#q {
    text-transform: capitalize;
}

#w {
    text-transform: uppercase;
}

#e {
    text-transform: lowercase;
}

.accent {
    display: block;
    font-style: italic;
    color: #FFD25A;

}